@charset "UTF-8";
body {
  font-family: "游明朝体";
  font-weight: 400;
}

body {
  color: #534E52;
}

.footer {
  background-image: url(img/TOP/footer.jpg);
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .footer {
    background-size: cover;
  }
}

.footer__logo {
  width: 9.698125rem;
  display: block;
  padding-top: 2.2125rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 16.20625rem;
    padding-top: 5rem;
  }
}

.footer__access-area {
  margin-top: 3.9375rem;
}
@media screen and (min-width: 768px) {
  .footer__access-area {
    margin-top: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__access-area:nth-child(n+2) {
    margin-top: 0.8125rem;
  }
}

.footer__address,
.footer__tel,
.footer__mail {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #A17856;
}
@media screen and (min-width: 768px) {
  .footer__address,
  .footer__tel,
  .footer__mail {
    font-size: 1rem;
    line-height: 1.6875;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    display: inline-flex;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__address p:first-child {
    min-width: 3.125rem;
  }
}

.footer__tel,
.footer__mail {
  display: inline-flex;
  width: 100%;
}

.footer__tel p:first-child,
.footer__mail p:first-child {
  min-width: 3.125rem;
}

.footer__wrapper {
  margin-top: 5.0625rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    margin-top: 10.6875rem;
    flex-flow: row;
  }
}

.footer__sns-area {
  display: inline-flex;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer__sns-area {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__sns {
    white-space: nowrap;
    color: #A17856;
    font-size: 1rem;
    line-height: 1.6875;
    font-weight: 500;
  }
}

.footer__twitter-area img,
.footer__line-area img {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .footer__twitter-area {
    margin-left: 1.0625rem;
  }
}

.footer__line-area {
  margin-left: 0.95rem;
}
@media screen and (min-width: 768px) {
  .footer__line-area {
    margin-left: 1.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__link-area {
    display: flex;
    margin-right: 6.375rem;
  }
}

.footer__link-area a {
  display: inline-block;
  margin-left: 1.25rem;
  color: #A17856;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 500;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__link-area a {
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.6875;
  }
}

.footer__policy,
.footer__group {
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer__policy {
    margin-right: 1.25rem;
  }
}

.footer__policy::before,
.footer__group::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.40625rem 0 0.40625rem 0.6875rem;
  border-color: transparent transparent transparent #A17856;
  position: absolute;
  left: -1.25rem;
  top: 0.40625rem;
}

.footer__copyright {
  background-color: #DF8686;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  margin-top: 2.625rem;
  padding: 0.75rem 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.6875;
  }
}

/*# sourceMappingURL=_footer.css.map */